<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Generation</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>

    {% include 'navbar.html' %}
    
    <div class="container">
        <h2>Lets Start Your Campaign</h2>
        <form id="adForm">
            <label for="field1">Product/Service Overview:</label>
            <input type="text" id="field1" name="field1" placeholder="Describe your product or service"><br>
    
            <label for="field2">Target Audience:</label>
            <input type="text" id="field2" name="field2" placeholder="Who is this campaign for?"><br>
    
            <label for="field3">Campaign Goal:</label>
            <input type="text" id="field3" name="field3" placeholder="What is the goal of this campaign?"><br>
    
            <button type="submit">Generate Ads</button>
        </form>
    
        <div id="ad-results" class="ad-grid"></div>
    </div>
    
        
    </div>
    
    <script src="static/script.js"></script>
</body>
</html>
