<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="nav-left">
                <h1><a>Company name</a></h1>
            </div>
            <div class="nav-left">
                {% if 'user' in session %}
                    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="login-container">
        <h2 id="login-title">Login</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter username here">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter password here" required>

            <button type="submit">Login</button>
            <button type="submit" formaction="/register">Register</button>
        </form>
    </div>
</body>
</html>
