<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Data Viewer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    
    {% include 'navbar.html' %}

    <div class="content">
        <h1>Marketing Data Viewer</h1>
        <p>Data visualization will be available here soon.</p>
    </div>

    <div style="width: 800px"><canvas id = "graph1"></canvas></div>>

    <script src="static/script.js"></script>
</body>
</html>
